html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: radial-gradient(#181818, #000000);
    background-size: max(100vw, 100vh) max(100vw, 100vh);
    background-repeat: no-repeat;
    background-position: center center;
}

body {
    font-family:
        "Open Sans",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #fff;
}

main {
    max-width: 100%;
    width: 450px;
    margin: 0 auto;
    height: calc(100vh - 10vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #f22;
    background-color: #000;
    border: 2px solid #f00;
    margin: auto;
    transition: 0.2s;
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn {
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    background-color: #000;
    border: 2px solid #222;
    margin: auto;
    transition: 0.2s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color: #f00;
    color: #000;
    border-color: #f00;
}

img[alt="Logo"] {
    max-width: calc(100% - 80px);
    display: block;
    margin: 0 auto;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.content-box {
    max-width: calc(100% - 80px);
    max-width: calc(100% - 80px);
    width: 350px;
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    transition: 1s;
    border: 2px solid #333;
}

.content-box.hide {
    opacity: 0;
    pointer-events: none;
}

.input {
    font-size: 20px;
    outline: none;
    width: calc(100% - 24px);
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #000;
    color: #fff;
    border: 2px solid #222;
    margin-bottom: 20px;
}

.content-footer {
    margin-top: 20px;
    text-align: center;
}

.bottom-link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

footer > a {
    color: #f00;
}

.authorize-app-img {
    height: 100px;
    margin: auto;
    display: block;
    border: 2px solid #f00;
    border-radius: 50%;
    box-shadow: 0 0 10px #f00;
    padding: 5px;
    width: 100px;
}

#domain {
    color: red;
}

@media screen and (max-width: 700px) {
}
